page-recipe {
    .recipe-info{
        text-align: center;
        font-weight: bold;
        padding-top: 5px;
        font-size: 12px;
    }
    #card-img{
        height: 250px;
        width: 100%;
    }
    .recipe-info-label{
        font-family:  DroidKufi-Regular;
        font-size: 10px;
        color: color($colors,dark);
    }
    .recipe-info-icon{
        color: color($colors,primary);
    }
    #title-recipe{
        font-family: DroidKufi-Regular;
        font-size: 16px;
    }
    recipe-info-icon{
        font-family: DroidKufi-Regular; 

    }
}
